@import 'bourbon';

$body_bg: #F1F1F1;
$a: #0000FF;

html, body {
	margin: 0;
	font-family: $helvetica;
	font-size: 12px;
}

body {
	background-color: $body_bg;
	a {
		color: $a;
		img {
			border: none;
		}
	}
	@import "container";
}

@import 'flash_error'