@import 'bourbon';

$body_bg: #F8D2A3;
$a: #0000FF;

html, body {
	margin: 0;
	font-family: $helvetica;
	font-size: 12px;
}

body {
	background-color: $body_bg;
	background-repeat: no-repeat;
	@include background-image(url("fondo_publihot.png"));

	a {
		color: $a;
		img {
			border: none;
		}
	}
	@import "container";
}

@import 'flash_error'