$container_width: 950px;
$container_bg: $body_bg;
$register_width: 200px;
$register_color: #D20F16;
$rotulo_width: $container_width - $register_width - 10;
$header_height: 80px;
$footer_color: #D20F16;
$box_shadow_color: #444;

#container {
	width: $container_width;
	height: 100%;
	margin: 0 auto;
	background-color: $container_bg;
	
	#ph_header {
		height: $header_height;
		@include box-shadow(0 10px 6px -6px $box_shadow_color);
		@include border-bottom-radius(5px);
		@include background-image(url("flames.png"));
		color: white;
		
		img {
			width: $rotulo_width;
			border: solid 1px blue;
		}
		
		p {
			margin: 0px;
			text-align: center;
			font-family: $helvetica;
			font-size: 500%;
			font-weight: bold;
			font-variant: small-caps;
			letter-spacing: 40px;
		}
		
		#header_register {
			float: right;
			width: $register_width;
			height: $header_height;
			@include linear-gradient($register_color, darken($register_color, 30%));
			@include border-bottom-right-radius(5px);
			text-align: right;
		}
	}
	
	@import "ph_body";
	
	#ph_footer {
		position: absolute;
		bottom: 0px;
		width: $container_width;
		height: 30px;
		@include linear-gradient($footer_color, darken($footer_color, 30%));
		@include box-shadow(0 -10px 6px -6px $box_shadow_color);
		@include border-top-radius(5px);
		color: white;
		
		p {
			text-align: center;
			font-family: "Sans-serif";
			font-size: 10px;
		}
	}
}
