$container_width: 950px;
$container_bg: #FFF;
$register_width: 250px;
$rotulo_width: $container_width - $register_width - 10;
$header_height: 80px;

#container {
	width: $container_width;
	margin: 20px auto;
	background-color: $container_bg;
	border: solid 1px black;
	
	#ph_header {
		img {;
			width: $rotulo_width;
			border: solid 1px blue;
		}
		#header_register {
			float: right;
			width: $register_width;
			text-align: right;
			border: 1px solid blue;
		}
		border: solid 2px blue;
	}
	
	@import "ph_body";
	
	#ph_footer {
		border: solid 2px red;
		text-align: center;
		font-family: "Sans-serif";
		font-size: 10px;
	}
}
