$left_width: 150px;
$right_width: 150px;
$advert_width: ($container_width - $left_width - $right_width - 40) / 2;

#ph_body {
	
	#body_left {
		width: $left_width;
		float: left;
		select {
			font-size: 10px;
		}
	}
	
	#body_right {
		width: $right_width;
		float: right;
		border: solid 1px #666;
	}
	
	#body_center {
		margin: 0 $right_width 0 $left_width;
		padding: 10px;
		padding-top: 0;
		
		.advert {
			display: inline-block;
			border: solid 1px green;
			width: $advert_width;
		}
	}
}